:root {
  --miancolor: #fd5b32;
  --maincoloor:#f58634;
  --light_wihite: #ffefeb;
  --black: #110d15;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
/* header nav bar starts */
.image img {
    width: 60px;
    border-radius: 50px;    
}
.header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.mall-name{
    text-decoration: none;
    font-size: 40ox;
    font-weight: 700;
    margin-left: 10px;
    color: var(--maincoloor);
}

.search{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3rem;
    width: 45%;
    margin-left: 20%;
    padding-left: 22px;
}

.button{
    border: 0px;
    background-color: transparent;
    color: var(--maincoloor);
    margin-left: -40px;
    font-size: 18px;
}
.button:hover{
    color: var(--miancolor);
}
.navbar{
    width: 100%;
    display: flex;
    height: 3rem;
    background-color:var(--maincoloor);
    align-items: center;
    padding-left: 30px;
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    position: relative;   
}
.navbar li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky+ .content{
    padding-top: 45px;
}

/* header nav bar ends */
