
:root {
  --miancolor: #fd5b32;
  --maincoloor:#f58634;
  --light_wihite: #ffefeb;
  --black: #110d15;
  --white: #ffffff;
}
* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
/* top header ko lagi boder shadow
box-shadow: 0px 9px 23px -9px rgba(150, 150, 150, 0.97)
 */

/* header nav bar starts */
.top-header .image img {
    width: 60px;
    border-radius: 50px;    
}
.top-header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.mall-name{
    text-decoration: none;
    font-size: 40ox;
    font-weight: 700;
    margin-left: 10px;
    color: var(--maincoloor);
}

.search{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3rem;
    width: 45%;
    margin-left: 20%;
    padding-left: 22px;
}

.button{
    border: 0px;
    background-color: transparent;
    color: var(--maincoloor);
    margin-left: -40px;
    font-size: 18px;
}
.button:hover{
    color: var(--miancolor);
}

.navbar{
    width: 100%;
    display: flex;
    height: 3rem;
    background-color:var(--maincoloor);
    align-items: center;

}

.navbar li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    position: relative;   
}
.navbar li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
}


/* main index file css start here  */

/* hero section css start here */

.hero-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.hero-section .horizontal-menu
{
    padding-left: 100px;
}

.img-slider{
    position: relative;
    width: 100%;
    height: 390px;
}
.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .slide .image{
     z-index: 1;
    width: 100%;
    height: 400px;   
    overflow: hidden;
}
.img-slider .slide .image img {
width: 100%;
height: 400px;
object-fit: cover;

}
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info p{
    color: var(--miancolor);
    /* background-color: var(--light_wihite); */
    font-size: 22px;
    width: 60%;
    padding: 10px;   
    font-weight: 500;
    padding: 77px 102px;
    width: 712px;
}
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn{
    background:var(--miancolor);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.img-slider .navigation .btn.active{
    background-color: var(--light_wihite);

}

.img-slider .shopbtn a{
    color: var(--light_wihite);
    background: var(--maincoloor);
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    position: relative;
    left: 25%;
    bottom: 143px;
}

.img-slider .shopbtn a:hover{
color: var(--light_wihite);
background: var(--miancolor);
}

/* hero section css ends here */

/* features product section starts here */

.products h4{
    font-size: 21px;
    color: var(--miancolor);
    font-weight: 800;
    text-align: center;
    padding: 25px 25px;
}
.products{
 margin-top: 10px;
 height: 350px;
}

.products .all-category {
   display: flex;
    align-items: center;
    justify-content: space-around ;
    padding-left: 100px;
    padding-right: 100px;
}

.products .all-category .product{
    width: 204px;
    height: 220px;
    padding-top: 21px;
    border-radius: 6px;
    border: 0px solid;
    background: white;
    box-shadow: 4px 6px 25px -2px rgba(150, 150, 150, 0.58);
    text-align: center;
}
.products .all-category .product a{
    color: var(--miancolor);
    font-weight: 500;
    
}
.products .all-category .product .image img
{
    height: 150px;
    object-fit: cover;
}

/* category product section ends here */

/* product display start here */


 .category-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
 .category-info a {
    color: var(--black);
    display: flex;
    align-items: center;
}

.card-category{
    margin-top: 10px;
    height: 390px;   
    padding-left: 100px;
    padding-right:100px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin: auto;
}


.card-category .card{
    height:338px;
    width: 250px;
    flex: 1 1 210px;
     }
.card-category .card:hover{
box-shadow: 0px 2px 21px -2px rgba(150, 150, 150, 0.73)
}
.card-category .card .product-image{
    height: 260px;
    width:100% ;
}
.card-category .card .product-image img{
    height: 100%;
    width: 100%;
    object-fit:center;
}
.card-category .card .product-info{
    padding-left: 10px;
}
.card-category .card .addtocart{
    /* padding-left: 10px;
    width: 100%;
    color: var(--light_wihite);
    background: var(--maincoloor);
    display: flex;
    align-items: center; */
    width: 100%;
    color: var(--miancolor);
    font-weight: 500;
    display: flex;
    padding-left: 10px;
    align-items: center; 
}
.card-category .card .addtocart:hover{
    color: var(--light_wihite);
    background: var(--maincoloor);    
}
.card-category .card .new-btn{
    background: var(--miancolor);
    color: var(--white);
    width: 40px;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    left: 78%;
    bottom: 322px;
}

/* product display ends here */

/* every category page search bar css starts here */
.search-form{ 
    padding-left: 100px;
    padding-right: 100px;
    height: 53px;  
    text-align: center;
    background: var(--light_wihite);
    margin-bottom: 10px;
}
.search-form form{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.search-form form .input_field , .search-btn{
    font-size: 15px;  
    font-weight: 500;
}
.search-form form .in-f{
    padding-right: 10px;
}

/* every category page search bar css ends here */


/* footer css start here */

.footer-content{
    padding-left:200px ;
    padding-right:200px ;
    margin-top:10px ;
    background: var(--maincoloor);
}
.footer-content .column-collection{
    display: flex;
    justify-content: space-between;
    color: var(--light_wihite);
    padding-left:20px ;
    padding-right:20px ;
}



.footer-content .column-one>ul , .column-two>ul ,  .column-three>ul , .column-four>ul{
    line-height: 30px;
    list-style: none;
    color: var(--light_wihite);
}

.footer-content .column-collection li a{
    color: var(--light_wihite);
}


.footer-content .credit{
font-size:18.5px;
font-weight: 500;
text-align: center;
margin-top: 10px;
border-top:1px solid var(--white);
color: var(--light_wihite);
}







/* footer css ends here */
